<div class="container">
	<h1>About</h1>
	<p>The idea for <strong><span class="text-danger">Pomodoro</span> Logger</strong> came about when we realized that, after a hard day's work, it's often difficult to recall exactly what you did that entire day. What if there were a way to help you remember what you did throughout the day in bite-sized chunks?</p>
	<p>Leveraging off the popular Pomodoro time management technique, this project allows you to both use the pomodoro technique to give yourself manageable blocks of work throughout the day, and at the same time, keep track of what your goals and accomplishments are during those blocks.</p>
	<p>We hope Pomodoro Logger makes it fun to look back on your accomplishments after a long day of work, while helping you be more productive during the day.</p>
	<p class="text-muted">Developed by: <a href="http://www.jeffersonlam.com">Jefferson Lam</a> and <a href="www.linkedin.com/in/ailinykh">Alexei Ilinykh</a></p>
	<p class="text-muted">Last updated: March 2014</p>
</div>