// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #E8E8E8;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
hr{
  border-color: #E8E8E8;
}
section {
  @extend .row;
  margin-top: 20px;
  }

.centered {
  text-align: center;
}

body {
  background-color: #eee;
}

#sub_header {
  text-align: center;
  margin-bottom: 20px;
}

.facebook {
  color: #3B5998;
}


#work-timer, #break-timer{
  text-align: center;
}

#work-timer h1, #break-timer h1{
  font-size: 42pt;
}

#feed{
  /*margin-left: 5%;
  margin-right: 5%;*/
  background: white;
  padding: 10px;
}

.task-feed{
  background: #FDE6E8;
  border-radius: 10px;
  height: 100%;
  display: inline-block;
  padding: 10px 20px;
  text-align: left;
}

.result-feed{
  background: #D5ECEE;
  border-radius: 10px;
  height: 100%;
  display: inline-block;
  padding: 10px 20px;
  text-align: left;
}

.feed-item{
  margin: 10px 0px;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.msg{
  text-align: center;
  min-height: 25px;
}

.work-area{
  margin-top: 10px;
  min-height: 270px;
  margin-bottom: 15px;
  background-color: #FCFCFC;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px #CCC;
}

/*.highlight{
  background-color: #c0deff;
}*/

.counter-area{
  margin-right: 12px;
  margin-top: 7px;
}

#log-result-btn, #log-task-btn{
  margin-right: 15px;
}

textarea{
  resize: none;
}

.form-label{
  padding-left: 30px;
  margin-bottom: -20px;
}

.login-form{
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}