//On 'End Session' submit:
$('#timer').html('');
$('#task-header').html('<h3 class="text-danger">Task : <%= current_user.logs.last.task %></h3>');
// Display 'How did you do?' form
$("#form-area").html('<%= simple_form_for @log, remote:true, url: logs_update_result_path, method: :post do |f| %>\
		                  <%= f.input :result, label: "How did you do?"%>\
		                  <%= f.button :submit, value: "Log results", class: "btn btn-info pull-right" %>\
	                  <% end %>');