<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash[:errors].each do |msg| %>
  <% if msg.is_a?(String) %>
  <div class="container" style="margin-top:10px;">
  	<div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg%>
    </div>
  </div>
    
  <% end %>
<% end %>
